body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #b3e0dc; 
    padding: 20px;
    box-sizing: border-box;
    color: black;
}

.sidebar .logo img{
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidebar .logo {
    text-align: center;
    padding: 20px 0;
    background-color: #b3e0dc;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.main-content {
    flex-grow: 1;
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
}

.main-content .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.header-icons {
    display: flex;
    align-items: center;
}

.header-icons .icon {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    cursor: pointer;
}

.user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
}


.content h3 {
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: #b3e0dc;
    color: white;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}